* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 350px;
  height: 100vh;
  width: 100vw;
  background-color: #1e1e1e;
}

.left_nav {
  position: fixed;
  left: 0;
  top: 0;
  padding: 0 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #3e3e3e;
  width: 350px;
  height: 100%;

  &__Logo {
    display: flex;
    font-size: 2rem;
    width: 100%;
    font-weight: bold;

    &--first {
      font-size: 2.2rem;
    }

    &--white {
      color: #fff;
    }

    &--orange {
      color: rgb(255, 173, 53);
      color: linear-gradient(
        270deg,
        rgba(255, 173, 53, 1) 0%,
        rgba(255, 153, 62, 1) 49%,
        rgba(255, 131, 72, 1) 100%
      );
    }

    &--blue {
      color: #458ad1;
      color: linear-gradient(
        270deg,
        rgba(69, 138, 209, 1) 0%,
        rgba(8, 123, 242, 1) 100%
      );
    }
  }

  &__topics {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    list-style: none;
    padding: 0.25em 0;
    height: 84.5%;
    width: 100%;

    &__topic {
      width: 100%;
      font-size: 1.8rem;
      cursor: pointer;

      a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        transition: color 0.7s;
        color: #b3b3b3;
        pointer-events: none;

        &:hover {
          color: rgb(69, 138, 209);
          color: linear-gradient(
            270deg,
            rgba(69, 138, 209, 1) 0%,
            rgba(8, 123, 242, 1) 100%
          );
        }
      }

      &--active {
        font-weight: bold;

        a {
          color: rgb(255, 173, 53);
          color: linear-gradient(
            270deg,
            rgba(255, 173, 53, 1) 0%,
            rgba(255, 153, 62, 1) 49%,
            rgba(255, 131, 72, 1) 100%
          );
        }
      }

      &--visited {
        font-weight: bold;

        a {
          color: rgb(69, 138, 209);
          color: linear-gradient(
            270deg,
            rgba(69, 138, 209, 1) 0%,
            rgba(8, 123, 242, 1) 100%
          );
          opacity: 0.75;
        }
      }
    }
  }
}

.content_box {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100%);
  height: 100%;

  &__illustration {
    position: absolute;
    top: 150px;
    right: -100px;
    transform: rotate(5deg);
    opacity: 0.05;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85%;
    padding: 0 2.5em;
    padding-top: 4.5rem;
    padding-bottom: 1em;

    &__page {
      position: relative;
      width: 100%;
      height: 100%;

      &__header {
        font-size: 2.6rem;
        color: rgb(202, 202, 202);
        margin-bottom: 0.25em;
      }

      .wrapper {
        width: 75%;
        padding-right: 1em;
        height: 77%;
        overflow: scroll;
        overflow-x: hidden;
        & {
          scrollbar-width: auto;
          scrollbar-color: rgb(35, 35, 35) #ffffff;
        }
        &::-webkit-scrollbar {
          width: 16px;
        }
        &::-webkit-scrollbar-track {
          background: #1e1e1e;
        }
        &::-webkit-scrollbar-thumb {
          background-color: rgb(35, 35, 35);
          border-radius: 10px;
        }
      }

      &__contentArea {
        width: 100%;
        margin: 1.25em 0;
        font-size: 1.8rem;
        color: rgb(167, 167, 167);

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: auto;
          cursor: pointer;
          text-decoration: none;
          padding: 0.5em 1em;
          margin-top: 2em;
          border: none;
          border-radius: 10px;
          opacity: 0.75;
          transition: opacity 0.7s;
          font-size: 1.8rem;
          font-weight: bold;
          color: #383838;
          background-color: #ffad35;
          background-color: linear-gradient(
            270deg,
            rgba(255, 173, 53, 1) 0%,
            rgba(255, 153, 62, 1) 49%,
            rgba(255, 131, 72, 1) 100%
          );
        }
      }
      &__buttons {
        position: absolute;
        bottom: 0;
        padding: 1em 0;
        display: flex;
        width: auto;
        justify-content: space-between;
        align-items: center;

        &__button {
          width: auto;
          cursor: pointer;
          padding: 0.5em 1em;
          border: none;
          border-radius: 15px;
          opacity: 0.75;
          transition: opacity 0.7s;
          font-size: 1.8rem;
          font-weight: bold;
          color: #383838;
          background-color: rgb(255, 173, 53);
          background-color: linear-gradient(
            270deg,
            rgba(255, 173, 53, 1) 0%,
            rgba(255, 153, 62, 1) 49%,
            rgba(255, 131, 72, 1) 100%
          );

          &:first-of-type {
            margin-right: 2em;
          }

          &:hover {
            opacity: 1;
          }

          &:first-of-type {
            background-color: rgb(69, 138, 209);
            background-color: linear-gradient(
              270deg,
              rgba(69, 138, 209, 1) 0%,
              rgba(8, 123, 242, 1) 100%
            );
          }
        }
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282828;
    color: rgb(112, 111, 111);
    position: relative;
    padding: 1em 2.5em;
    width: 100%;
    height: 15%;

    &__info {
      font-size: 1.4rem;
      width: 45%;
      height: 100%;
    }

    &__list {
      width: 45%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &__header {
        font-size: 1.6rem;
        width: 100%;
        margin-bottom: 0.25em;
      }

      &__list {
        margin-left: 2em;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;

        &__element {
          font-size: 1.4rem;

          &__link {
            cursor: pointer;
            text-decoration: none;
            font-size: 1.4rem;
            font-weight: bold;
            color: #458ad1;
            color: linear-gradient(
              270deg,
              rgba(69, 138, 209, 1) 0%,
              rgba(8, 123, 242, 1) 100%
            );

            &--first {
              color: rgb(255, 173, 53);
              color: linear-gradient(
                270deg,
                rgba(255, 173, 53, 1) 0%,
                rgba(255, 153, 62, 1) 49%,
                rgba(255, 131, 72, 1) 100%
              );
            }
          }
        }
      }
    }

    &__border {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 1px;
      background: rgb(77, 77, 77);
      background: linear-gradient(
        270deg,
        rgba(77, 77, 77, 0) 0%,
        rgba(77, 77, 77, 0.25) 12%,
        rgba(77, 77, 77, 0.5) 25%,
        rgba(77, 77, 77, 0.75) 38%,
        rgba(77, 77, 77, 1) 50%,
        rgba(77, 77, 77, 0.75) 62%,
        rgba(77, 77, 77, 0.5) 75%,
        rgba(77, 77, 77, 0.25) 87%,
        rgba(77, 77, 77, 0) 100%
      );
    }
  }
}

@media (min-width: 1024px) {
  .content_box {
    &__content {
      &__page {
        &__header {
          font-size: 2.6rem;
        }

        &__contentArea {
          font-size: 1.4rem;

          a {
            font-size: 1.4rem;
          }
        }
        &__buttons {
          &__button {
            font-size: 1.4rem;
          }
        }
      }
    }

    &__footer {
      &__info {
        font-size: 1rem;
        width: 50%;
      }

      &__list {
        &__header {
          font-size: 1.2rem;
        }

        &__list {
          &__element {
            font-size: 1rem;

            &__link {
              font-size: inherit;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .content_box {
    &__content {
      &__page {
        &__header {
          font-size: 2.6rem;
        }

        &__contentArea {
          font-size: 1.6rem;

          a {
            font-size: 1.6rem;
          }
        }
        &__buttons {
          &__button {
            font-size: 1.6rem;
          }
        }
      }
    }

    &__footer {
      &__info {
        font-size: 1.2rem;
        width: 50%;
      }

      &__list {
        &__header {
          font-size: 1.4rem;
        }

        &__list {
          &__element {
            font-size: 1.2rem;

            &__link {
              font-size: inherit;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .content_box {
    &__content {
      &__page {
        &__header {
          font-size: 2.6rem;
        }

        &__contentArea {
          font-size: 1.6rem;

          a {
            font-size: 1.6rem;
          }
        }
        &__buttons {
          &__button {
            font-size: 1.6rem;
          }
        }
      }
    }

    &__footer {
      &__info {
        font-size: 1.2rem;
        width: 50%;
      }

      &__list {
        &__header {
          font-size: 1.4rem;
        }

        &__list {
          &__element {
            font-size: 1.2rem;

            &__link {
              font-size: inherit;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 2560px) {
  .content_box {
    &__content {
      &__page {
        &__header {
          font-size: 3rem;
        }

        &__contentArea {
          font-size: 1.8rem;

          a {
            font-size: 1.8rem;
          }
        }
        &__buttons {
          &__button {
            font-size: 1.8rem;
          }
        }
      }
    }

    &__footer {
      &__info {
        font-size: 1.6rem;
        width: 45%;
      }

      &__list {
        &__header {
          font-size: 1.8rem;
        }

        &__list {
          &__element {
            font-size: 1.6rem;

            &__link {
              font-size: inherit;
            }
          }
        }
      }
    }
  }
}